@model List<Person>

<h1>About my page</h1>

@if (Model.Any())
{
 <ul>
    @foreach (var item in Model)
    {
        <li>@item.Vardas @item.Pavarde</li>
    }
 </ul>
}
else
{
    <p>Tokio vardo nera</p>
}



